@font-face {
  font-family: "MyriadPro-Regular";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/**
 * Swiper 7.0.9
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2021 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 18, 2021
 */

@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height,-webkit-transform;
  transition-property: height,-webkit-transform;
  -o-transition-property: transform,height;
  transition-property: transform,height;
  transition-property: transform,height,-webkit-transform;
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: '';
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

body {
  overflow: auto;
}

.eq-container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-header {
  background-color: #f3f3f3;
  padding: 10px 0 30px;
}

.item-header__link {
  padding: 15px 0 0 0;
}

.item-header__link a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.item-header__link a:last-child {
  color: #525252;
}

.item-header__link a:last-child::after {
  display: none;
}

.item-header__link a::after {
  content: '/';
  margin: 0 5px;
}

.item-header__name {
  margin: 10px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
}

.item-tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0 0;
}

.item-tabs__item {
  padding: 13px 30px;
  border-right: 1px solid #777;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.item-tabs__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  width: 100%;
  height: 100%;
  background-color: rgba(134, 134, 134, 0.2);
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.item-tabs__item.active::after {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.item-tabs__content {
  margin: 20px 0 0 0;
}

.item-tabs__content-item {
  display: none;
}

.item-tabs__content-item.active {
  display: block;
}

.conditions-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conditions-body__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(25% - 10px);
          flex: 1 1 calc(25% - 10px);
  margin: 0 10px 0 0;
  -webkit-box-shadow: 10px 10px 38px 0 #ededed;
          box-shadow: 10px 10px 38px 0 #ededed;
  padding: 15px;
}

.conditions-body__item:nth-child(1) svg {
  color: #EA26D8;
}

.conditions-body__item:nth-child(2) svg {
  color: #E11E07;
}

.conditions-body__item:nth-child(3) svg {
  color: #0bc5fa;
}

.conditions-body__item:last-child {
  margin: 0;
}

.conditions-body__item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}

.conditions-body__item-name svg {
  margin: 0 10px 0 0;
  width: 100px;
  height: 100px;
}

.conditions-body__item-subtitle {
  margin: 5px 0 0 0;
  font-weight: 700;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}

.conditions-body__item-text p {
  margin: 15px 0 0 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.item-bottom__slider {
  margin: 75px 0 20px 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.item-bottom__slider .swiper-button-prev {
  color: #3f3f3f;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0px;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
}

.item-bottom__slider .swiper-button-prev span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #69d7ee;
}

.item-bottom__slider .swiper-button-prev span svg {
  color: #fff;
  height: 25px;
  width: 25px;
  -webkit-transform: translate(-2px, 0);
      -ms-transform: translate(-2px, 0);
          transform: translate(-2px, 0);
}

.item-bottom__slider .swiper-button-next {
  color: #3f3f3f;
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
}

.item-bottom__slider .swiper-button-next span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #69d7ee;
}

.item-bottom__slider .swiper-button-next span svg {
  color: #fff;
  height: 25px;
  width: 25px;
  -webkit-transform: translate(2px, 0);
      -ms-transform: translate(2px, 0);
          transform: translate(2px, 0);
}

.item-bottom__slider .swiper-subitem {
  margin: 20px 65px 0;
}

.item-bottom__slider .swiper-subitem__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: rgba(66, 66, 66, 0.418);
  color: #fff;
  padding: 10px 0;
}

.item-bottom__slider .swiper-subitem__name span {
  display: block;
  font-size: 24px;
  margin: 5px 0 0 0;
}

.item-bottom__slider .swiper-subitem .swiper-slide {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.item-bottom__slider .swiper-subitem .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0 0 0;
}

.spec.spec-slider .spec-col:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.spec-col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
}

.spec-col:nth-child(1) {
  margin: 0 20px 0 0;
}

.spec-col .mySwiper2 {
  margin: 0 auto 0 5px;
  width: 500px;
  height: 500px;
}

.spec-col .mySwiper2 .swiper-slide img,
.spec-col .mySwiper2 .swiper-slide video {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.spec-col .mySwiper {
  margin: 0;
  width: 125px;
  height: 500px;
}

.spec-col .mySwiper .swiper-slide {
  margin: 0 0 5px 0;
  overflow: hidden;
}

.spec-col .mySwiper .swiper-slide img,
.spec-col .mySwiper .swiper-slide video {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.spec-col__item {
  margin: 0 0 14px 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.spec-col__item span {
  font-weight: 700;
  display: inline-block;
  width: 160px;
}

.spec-col .swiper2-button-prev {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 10px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
}

.spec-col .swiper2-button-prev span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #69d7ee;
}

.spec-col .swiper2-button-prev span svg {
  color: #fff;
  height: 25px;
  width: 25px;
  -webkit-transform: translate(-2px, 0);
      -ms-transform: translate(-2px, 0);
          transform: translate(-2px, 0);
}

.spec-col .swiper2-button-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
}

.spec-col .swiper2-button-next span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #69d7ee;
}

.spec-col .swiper2-button-next span svg {
  color: #fff;
  height: 25px;
  width: 25px;
  -webkit-transform: translate(2px, 0);
      -ms-transform: translate(2px, 0);
          transform: translate(2px, 0);
}

.spec-col__bonuses-item {
  margin: 0 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.spec-col__bonuses-item:last-child {
  margin: 0;
}

.spec-col__bonuses-item span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 55px;
  margin: 0 10px 0 0;
}

.spec-col__bonuses-item:nth-child(1) span {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #66d8f0;
}

.spec-col__bonuses-item:nth-child(2) {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.spec-col__bonuses-item:nth-child(2) span {
  background-color: #e2061e;
}

.spec-col__bonuses-item:nth-child(2) span svg {
  width: 85%;
  height: 85%;
  color: #fff;
}

.spec-col__bonuses-item:nth-child(2) .discount-end {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background-color: transparent;
  color: red;
  display: block;
  margin: 5px 0 0 0;
  height: auto;
}

.spec-col__bonuses-item:nth-child(2) .text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 82%;
          flex: 0 1 82%;
  background-color: transparent;
}

.spec-col__price {
  margin: 10px 0 0 0;
}

.spec-col__price-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #66d8f0;
  color: #fff;
}

.spec-col__price-col {
  border: 1px solid #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.spec-col__price-col input {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.spec-col__price-col:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.spec-col__price-col:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.spec-col__price-col:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
}

.spec-col__price-col:nth-child(4) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
}

.spec-col__price-col:nth-child(5) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.spec-col__price-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spec-col__price-bottom .spec-col__price-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spec-col__price-bottom .spec-col__price-col input {
  width: 50px;
  text-align: center;
}

.spec-col__price-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  background-color: #93c528;
  height: 40px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.spec-col .instock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  height: 40px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

.spec-col__subprice {
  margin: 5px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spec-col__info {
  margin: 25px 0 0 0;
  text-align: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}

.decrement-btn {
  width: 10px;
  background-color: transparent;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.increment-btn {
  width: 10px;
  background-color: transparent;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.decrement-btn2 {
  width: 10px;
  background-color: transparent;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.increment-btn2 {
  width: 10px;
  background-color: transparent;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.mySwiper .swiper-slide {
  opacity: 0.6;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

@media (max-width: 1200px) {
  .conditions-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .conditions-body__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 10px);
            flex: 1 1 calc(50% - 10px);
    margin: 0 10px 10px 0;
  }

  .conditions-body__item:nth-child(even) {
    margin: 0 0 10px 0;
  }

  .conditions-body__item:last-child {
    margin: 0 0 10px 0;
  }

  .item-bottom__slider .swiper-button-prev span {
    width: 35px;
    height: 35px;
  }

  .item-bottom__slider .swiper-button-prev span svg {
    height: 20px;
    width: 20px;
  }

  .item-bottom__slider .swiper-button-next span {
    width: 35px;
    height: 35px;
  }

  .item-bottom__slider .swiper-button-next span svg {
    height: 20px;
    width: 20px;
  }

  .spec-col .mySwiper2 {
    width: 400px;
    height: 400px;
    margin: 0 0 0 5px;
  }

  .spec-col .mySwiper {
    width: 85px;
    height: 400px;
  }

  .spec-col .swiper2-button-prev span {
    width: 35px;
    height: 35px;
  }

  .spec-col .swiper2-button-prev span svg {
    height: 20px;
    width: 20px;
  }

  .spec-col .swiper2-button-next span {
    width: 35px;
    height: 35px;
  }

  .spec-col .swiper2-button-next span svg {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 992px) {
  .spec.spec-slider .spec-col:nth-child(1) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .spec {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .spec-col:nth-child(1) {
    margin: 0 0 20px 0;
  }

  .spec-col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .item-tabs__items {
    display: none;
  }

  .item-tabs__content-item {
    display: block;
  }

  .item-tabs__content-item:nth-child(2) .spec-col:nth-child(2) {
    display: none;
  }

  .conditions-body__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0 0 10px 0;
  }

  .conditions-body__item:nth-child(even) {
    margin: 0 0 10px 0;
  }

  .conditions-body__item:last-child {
    margin: 0 0 10px 0;
  }

  .item-bottom__slider .swiper-subitem {
    margin: 20px 45px 0;
  }

  .spec-col .mySwiper {
    display: none;
  }

  .spec-col .swiper2-button-prev {
    left: 5px;
  }

  .spec-col .swiper2-button-next {
    right: 5px;
  }

  .spec-col__bonuses-item:nth-child(2) .text {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  .spec-col .mySwiper {
    width: 50px;
    height: 240px;
  }

  .spec-col__bonuses-item {
    font-size: 16px;
    margin: 0 0 10px 0;
  }

  .spec-col__bonuses-item span {
    width: 40px;
    height: 40px;
    margin: 0 5px 0 0;
  }

  .spec-col__bonuses-item:nth-child(1) span {
    font-size: 10px;
  }
}

@media (max-width: 540px) {
  .item-bottom__slider .swiper-subitem .swiper-slide {
    height: 200px;
  }
}

@media (max-width: 450px) {
  .conditions-body__item-name svg {
    width: 50px;
    height: 50px;
  }

  .spec-col .mySwiper2 {
    width: 300px;
    height: 300px;
  }

  .spec-col__item {
    font-size: 16px;
  }

  .spec-col__item span {
    width: 130px;
  }

  .spec-col__price-col {
    font-size: 14px;
  }

  .spec-col__price-col input {
    font-size: 16px;
  }

  .spec-col__price-btn {
    font-size: 18px;
  }

  .spec-col .instock {
    font-size: 18px;
  }

  .decrement-btn {
    font-size: 14px;
  }

  .increment-btn {
    font-size: 14px;
  }

  .decrement-btn2 {
    font-size: 14px;
  }

  .increment-btn2 {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .spec-col .mySwiper2 {
    width: 280px;
    height: 280px;
  }
}